
.link-button {
   background-color:rgba(6, 182, 241, 0.2);/* Use rgba to set opacity */
  color: #000; /* Black font color */
  padding:0; /* Adjust padding as desired */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
  min-width: 7em;
}
  
button:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
  transform: translateY(-4px);
}

.link-button:active,
.link-button:over {
  background-color: rgb(135, 135, 233); /* Increase opacity on hover */
}

@media (min-width: 768px) {
  .link-button {
    font-size: 24px;
    min-width: 7em;
    min-height: 4em;
  }
}
