.container {
  background-image: url("./backgroundImg/backgroundImg.png");
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 20px;
  padding-top: 30px;
  height:100vh;
}

* {
  margin: 0;
  padding: 0;
}

form {
  background-color: rgba(122, 184, 209, 0.6);
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around;
}

.form-container {
  background-color: #0077be;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
h1 {
  text-align: center;
  font: 
}

button[type="submit"] {
  background-color: #e8880a;
  border: none;
  border-radius: 20px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 25px;
  transition: all 0.3s ease-in-out;
  text-shadow: 1px 1px #000000;
}

/* 3D effect for the submit button */
button[type="submit"]:hover {
  background-color: #e8880a;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

label {
  font-family: 'monospace';
  font-size: 16px;
  font-weight: bold;
}