.container {
  background-image: url("./backgroundImg/backgroundImg.png");
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 20px;
  padding-top: 30px;
}

* {
  margin: 0;
  padding: 0;
}

form {
  background-color: rgba(122, 184, 209, 0.6);
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around;
}

.form-container {
  background-color: #0077be;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
